<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JSapp</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">JSapp</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <% if (currentUser) { %>
            <li>
                <a href="/edit">
                    Hello, <%= currentUser.name() %>
                </a>
            </li>
            <li><a href="/logout">Log out</a></li>
            <% } else { %>
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup">Sign up</a></li>
            <% } %>
        </ul>
    </div>
</div>
<div class="container">
    <% errors.forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
<%= error %>
    </div>
    <% }) %>
    <% infos.forEach(function(info) { %>
    <div class="alert alert-info" role="alert">
        <%= info %>
    </div>
<% }) %>