<% include _header %>
<h1>Add Events</h1>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
<form action="/addevents" method="post">
    <input name="location" type="text" class="form-control" placeholder="Location" value="City Name">
    <textarea name="description" class="form-control" placeholder="describe the event" style="height: 40vh"></textarea>



    <input type="submit" value="Update" class="btn btn-primary btn-block">
</form>
<% include _footer %>