<% include _header %>
<% if ((currentUser) && (currentUser.id === user.id)) { %>
<a href="/edit" class="pull-right">Edit your profile</a>
<a href="/addevents" class="pull-right" style="margin-right: 10px">Add Events</a>
<% } %>
<h1><%= user.name() %></h1>
<h2>Joined on <%= user.createdAt %></h2>
<% if (user.bio) { %>
<p><%= user.bio %></p>
<% } %>
<%for(i=0;i<eventhistory.length;i++){%>
<% if (eventhistory[i].location) { %>
<ul>
    <li><%= eventhistory[i].location %> <%= eventhistory[i].description %></li>
</ul>


<% } %>
<% } %>
<% include _footer %>